@use "@/styles" as *;

.title {
    font-size: $font-size-5;
    font-weight: bold;
    color: $color-black-1;
}

.subtitle {
    font-size: $font-size-3;
    color: $color-black-4;
}

.questionGroup {
    @include column($gap: $length-8);
}

.behaviour {
    font-size: $font-size-4;
    font-weight: $font-weight-bold;
    color: $color-black-1;
    height: 2em;
}

.question {
    font-size: $font-size-2;
    color: $color-black-4;
}

.answerGroup {
    @include column($gap: $length-8);
}

.answer {
    font-size: $font-size-3;
    font-weight: $font-weight-bold;
}
