@use "@/styles" as *;

// ICON

.icon {
    box-sizing: content-box;
    padding: $length-12;
    border-radius: $border-radius;

    &.primary {
        color: $color-white-1;
        background-color: $color-blue-1;
    }

    &.secondary {
        color: $color-black-1;
        background-color: $color-white-5;
    }
}

// PROPERTY

.property {
    @include row($align: center, $gap: $length-24);
}

.primary {
    & .content {
        font-size: $font-size-xlarge;
        color: $color-black-1;
        font-weight: $font-weight-bold;
        font-family: "Jetbrains Mono", monospace;
    }
}

.text {
    @include column($gap: $length-4);
}

.name {
    font-size: $font-size-medium;
    font-weight: $font-weight-bold;
    color: $color-black-4;
}

.content {
    font-size: $font-size-medium;
    color: $color-black-1;
}

// ACTION

.action {
    text-align: left;

    &:focus {
        box-shadow: $ring;
    }

    &:hover {
        box-shadow: $ring;
    }
}

.header {
    @include row($justify: space-between, $align: start, $gap: $length-48);
    // margin-bottom: $length-32;
}

.arrow {
    flex-shrink: 0;
    width: $length-32;
    height: $length-32;
    color: $color-black-4;
}

.body {
    @include column($gap: $length-8);
}

.title {
    font-size: $font-size-xlarge;
    font-weight: $font-weight-bold;
}

.description {
    font-size: $font-size-medium;
    color: $color-black-4;
}

.properties {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
