@use "@/styles" as *;

.icon {
    box-sizing: content-box;
    padding: $length-12;
    color: $color-black-1;
    background-color: $color-white-5;
    border-radius: $border-radius;
}

.property {
    @include row($align: center, $gap: $length-24);
}

.text {
    @include column($gap: $length-4);
}

.name {
    font-size: $font-size-2;
    font-weight: $font-weight-bold;
    color: $color-black-4;
}

.content {
    font-size: $font-size-2;
    color: $color-black-1;
}

.action {
    text-align: left;

    &:focus {
        box-shadow: $ring;
    }

    &:hover {
        box-shadow: $ring;
    }
}

.header {
    @include row($gap: $length-48);
}

.arrow {
    flex-shrink: 0;
    width: $length-32;
    height: $length-32;
    color: $color-black-4;
}

.body {
    @include column($gap: $length-8);
}

.title {
    font-size: $font-size-4;
    font-weight: $font-weight-bold;
}

.description {
    font-size: $font-size-2;
    color: $color-black-4;
}

.identity {
    @include row($align: center, $justify: space-between);
}

.expand {
    @include transition();
    box-sizing: content-box;
    padding: $length-8;
    color: $color-black-1;
    border-radius: 100%;
    cursor: pointer;

    &:hover {
        box-shadow: $ring;
    }
}

.qrCode {
    @include transition();
    @include column($align: center, $justify: center);
    align-self: center;
    padding: $length-32;
    width: max-content;
    background-color: $color-white-1;
    border-color: $color-white-5;
    border-radius: $border-radius;
    border-width: $border-width;
}

.properties {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
