@use "@/styles" as *;

.questionGroup {
    @include column($gap: $length-8);
}

.behaviour {
    font-size: $font-size-xlarge;
    font-weight: $font-weight-bold;
    color: $color-black-1;
}

.question {
    font-size: $font-size-medium;
    color: $color-black-4;
}
