$color-black: #000000;
$color-gray: #999999;
$color-white: #ffffff;

$color-red-hard: #b25959;
$color-red-medium: #ffb2b2;
$color-red-soft: #ffe5e5;

$color-orange-hard: #e5b85c;
$color-orange-medium: #ffe5b2;
$color-orange-soft: #fff6e5;

$color-green-hard: #66ccaa;
$color-green-medium: #b2ffe6;
$color-green-soft: #e5fff7;

$color-blue-black: #1f2533;
$color-blue-gray: #666f80;
$color-blue-white: #fafcff;
$color-blue-hard: #6699ff;
$color-blue-medium: #99bbff;
// $color-blue-soft: #cedaf2;
$color-blue-soft: #e5eeff;

$color-purple-black: #1f1f33;
$color-purple-gray: #666680;
$color-purple-white: #fafaff;
$color-purple-hard: #7a7af2;
$color-purple-medium: #aaaaf2;
$color-purple-soft: #dadaf2;
