@use "functions" as *;

$white-1: #ffffff;
$white-2: #fafcff;
$white-3: #f5f7fa;
$white-4: #e6e9f0;
$white-5: #d8dce5;

$black-1: #1f2533;
$black-2: #363d4d;
$black-3: #525866;
$black-4: #666f80;
$black-5: #7a8599;

$red-1: #b25959;
$red-2: #cc7a7a;
$red-3: #ffb2b2;
$red-4: #ffcccc;
$red-5: #ffe5e5;

$blue-1: #1452cc;
$blue-2: #457ae5;
$blue-3: #80aaff;
$blue-4: #ccddff;
$blue-5: #e5eeff;
