@use "functions" as *;

$space-1: rem(1px);
$space-2: rem(2px);
$space-4: rem(4px);
$space-6: rem(6px);
$space-8: rem(8px);
$space-12: rem(12px);
$space-16: rem(16px);
$space-24: rem(24px);
$space-32: rem(32px);
$space-40: rem(40px);
$space-48: rem(48px);
$space-64: rem(64px);
$space-80: rem(80px);
$space-96: rem(96px);
$space-128: rem(128px);
