@use "normalize";

@use "fonts";

@use "colors" as *;
@use "spaces" as *;
@use "utilities" as *;
@use "variables" as *;

html {
    font-family: $font-family;
    color: $black-1;
    background-color: $white-2;
}
