.app {
    position: fixed;
    margin: 0 auto;
    max-width: 32rem;
    height: 100%;
    background: var(--color-neutral-200);
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    padding-bottom: 4rem;
    color: var(--color-neutral-100);
    background: var(--color-primary-500);
}

.header h1 {
    font-size: 1rem;
    font-weight: 800;
}

/* .headCard {
    position: relative;
    top: -2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0 2rem;
    padding: 1rem;
    border: 0.0625rem solid var(--color-neutral-500);
    background: var(--color-neutral-100);
    box-shadow: 0 0.25rem 1rem #13224040;
} */

.column {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.row {
    display: flex;
    flex-direction: row;
}

.headCard {
    position: relative;
    top: -2rem;
    display: flex;
    flex-direction: column;
    margin: 0 2rem;
    padding: 1rem;
    border: 0.0625rem solid var(--color-neutral-500);
    background: var(--color-neutral-100);
    box-shadow: 0 0.25rem 1rem #13224040;
}

.headCard h1 {
    font-size: 1.25rem;
}

.headCard svg {
    width: 1.5rem;
    height: 1.5rem;
    fill: var(--color-neutral-900);
}

/* --- */

.container {
    margin: 0 2rem;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: var(--color-neutral-100);
    border: 0.0625rem solid var(--color-neutral-500);
    box-shadow: 0 0.25rem 1rem #13224040;
}

.cardItem {
    padding: 1rem;
    border-bottom: 1px solid var(--color-neutral-500);
    fill: var(--color-neutral-900);
}

.cardItem:last-child {
    border-bottom: none;
}

.cardPurple {
    background: #e5e5ff;
}

.cardPurple svg {
    fill: #13224080;
}

.cardYellow {
    background: #ffefbf;
}

.cardYellow svg {
    fill: #13224080;
}

.card p {
    font-size: 0.625rem;
    font-weight: 500;
    line-height: 1.3;
    color: #13224080;
}

.card h1 {
    margin-bottom: 0.25rem;
    font-size: 1rem;
    font-weight: 800;
    line-height: 1.5;
    color: #132240;
}

.card h2 {
    font-size: 0.75rem;
    font-weight: 800;
    line-height: 1.5;
    color: #132240c0;
}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.rowLeft {
    flex: 0 1 auto;
    margin-right: 1rem;
}

.rowMiddle {
    flex: auto;
}

.rowRight {
    flex: 0 1 auto;
    margin-left: 1rem;
}
