@use "colors" as *;
@use "spaces" as *;
@use "utilities" as *;
@use "variables" as *;

.card {
    text-align: left;

    &:focus {
        box-shadow: $ring;
    }

    &:hover {
        box-shadow: $ring;
    }
}

.card:hover {
    box-shadow: $ring;
}

.card:focus {
    box-shadow: $ring;
}

.header {
    @include row(start, space-between);
    margin-bottom: $space-32;
}

.box {
    display: flex;
    padding: $space-12;
    border-radius: $border-radius;
    color: $white-1;
    background-color: $blue-1;
}

.arrow {
    width: $space-32;
    height: $space-32;
    color: $black-4;
}

.body {
    @include column($space-between: $space-8);
}

.title {
    font-size: $font-size-xlarge;
    font-weight: $font-weight-bold;
}

.description {
    font-size: $font-size-medium;
    color: $black-4;
}

.footer {
    @include row($align: center, $space-between: $space-16);
    color: $black-4;
}

.column {
    @include column($space-between: $space-4);
}

.subtitle {
    font-size: $font-size-small;
    font-weight: $font-weight-bold;
}

.date {
    font-size: $font-size-medium;
}
