@use "@/styles" as *;

.app {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: $color-white-2;
}

.header {
    color: $color-black-1;
    background-color: $color-white-1;
    border-bottom-color: $color-white-5;
    border-bottom-width: $length-1;
}

.navigation {
    @include container($breakpoint: $breakpoint-2);
    @include row($align: center, $justify: space-between);
    padding: $length-24 $length-32;
}

.title {
    font-size: $font-size-large;
    font-weight: $font-weight-bold;
}

.body {
    @include container($breakpoint-2);
    @include column($gap: $length-48);
    padding: $length-48 $length-32;
}
