@use "colors" as *;
@use "variables" as *;

.button {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 16px 24px;
    border-radius: 4px;
    font-size: 18px;
    box-shadow: $box-shadow;
    transition-property: all;
    transition-duration: 200ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button:focus {
    outline: none;
    box-shadow: $box-shadow-outline;
}

.button:hover {
    box-shadow: $box-shadow-outline;
}

.button > * + * {
    margin-left: 16px;
}

.buttonPrimary {
    color: $color-white;
    background-color: $color-blue-hard;
}

.buttonSecondary {
    color: $color-blue-gray;
    background-color: $color-white;
    border-width: 1px;
    border-color: $color-blue-gray;
}

.buttonDanger {
    color: $color-red-hard;
    background-color: $color-white;
    border-width: 1px;
    border-color: $color-red-hard;
}

.buttonGroup {
    display: flex;
    flex-direction: row;
}

.buttonGroup > * + * {
    margin-left: 24px;
}
