@use "colors" as *;
@use "spaces" as *;
@use "variables" as *;
@use "utilities" as *;

.button {
    @include row($align: center, $justify: center, $space-between: $space-16);
    @include transition();
    padding: $space-16 $space-24;
    border-radius: $border-radius;
    font-size: $font-size-medium;
    box-shadow: $box-shadow;

    &:focus {
        outline: none;
        box-shadow: $ring;
    }

    &:hover {
        box-shadow: $ring;
    }

    &.primary {
        color: $white-1;
        background-color: $blue-2;
    }

    &.secondary {
        color: $black-4;
        background-color: $white-1;
        border-width: $border-width;
        border-color: $border-color;
    }

    &.danger {
        color: $red-1;
        background-color: $white-1;
        border-width: $border-width;
        border-color: $red-1;
    }
}

.buttonGroup {
    @include row($space-between: $space-24);
}
