@use "colors" as *;
@use "functions" as *;
@use "utilities" as *;
@use "variables" as *;

$background-color-primary: $color-white;
$background-color-secondary: $color-blue-white;
$border-color: $color-blue-soft;
$border-width: 1px;
$border-radius: 8px;
$box-shadow: $box-shadow;
$box-shadow-focus: $box-shadow-outline;
$box-shadow-hover: $box-shadow-outline;

.card {
    display: flex;
    flex-direction: column;
    border-radius: $border-radius;
    box-shadow: $box-shadow;

    &:focus {
        box-shadow: $box-shadow-focus;
    }

    &:hover {
        box-shadow: $box-shadow-hover;
    }

    & > * + * {
        margin-top: -1px;
    }
}

.cardSection {
    position: relative;
    padding: 16px;
    border-width: $border-width;
    border-color: $border-color;

    &:first-child {
        border-top-left-radius: $border-radius;
        border-top-right-radius: $border-radius;
    }

    &:last-child {
        border-bottom-left-radius: $border-radius;
        border-bottom-right-radius: $border-radius;
    }
}

.cardSectionPrimary {
    background-color: $background-color-primary;
}

.cardSectionSecondary {
    background-color: $background-color-secondary;
}
