@use "@/styles" as *;

.card:hover {
    box-shadow: $ring;
}

.image {
    width: 60%;
    height: 70%;
}

// .cardSection {
//     @include row($align: center, $gap: $length-24);
// }

.input {
    opacity: 0;
}

// box checked
.input:checked + * .cardSection {
    background-color: $color-blue-5;
    border-color: $color-blue-1;
}

.checkboxGroup {
    display: grid;
    grid-template-columns: 200px 200px 200px;
    grid-gap: 10px;
    justify-content: center;
    align-content: center;
}
