@use "colors" as *;
@use "spaces" as *;
@use "utilities" as *;
@use "variables" as *;

.background {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: $white-2;
}

.header {
    background-color: $white-1;
    border-bottom-color: $white-5;
    border-bottom-width: $border-width;
    color: $black-1;
    box-shadow: $box-shadow;
}

.navigation {
    @include row($align: center, $justify: space-between);
    @include container($breakpoint-medium);
    padding: $space-24 $space-32;
}

.title {
    font-size: $font-size-large;
    font-weight: $font-weight-bold;
}

.body {
    @include container($breakpoint-medium);
    @include column($space-between: $space-48);
    padding: $space-48 $space-32;
}
