@use "colors" as *;
@use "functions" as *;
@use "utilities" as *;
@use "variables" as *;

.frame {
    position: absolute;
    width: 100%;
    height: 100%;
    color: $color-blue-black;
    background-color: $color-blue-white;
}

.header {
    background-color: $color-white;
    border-bottom-color: $color-blue-soft;
    border-bottom-width: $border-width;
    box-shadow: $box-shadow;
}

.navigation {
    @include row(space-between, center);
    @include container;
    @include padding-y(3);
}

.title {
    font-size: $font-size-large;
    font-weight: $font-weight-bold;
    color: $color-blue-black;
}

.body {
    @include column;
    @include container;
    @include padding-y(4);
    @include space-between-y(4);
}
