.inputGroup {
    margin: 0.5rem 0;
    display: flex;
    flex-direction: column;
}

.inputGroup label {
    margin-bottom: 0.5rem;
    font-size: 0.75rem;
    font-weight: 800;
}

.inputGroup input[type="text"],
.inputGroup input[type="password"] {
    appearance: none;
    margin-bottom: 0.5rem;
    padding: 1rem;
    font-family: inherit;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.3;
    background: #ffffff;
    color: #132240;
    border: 1px solid #acb2bf;
    border-radius: 0;
    box-shadow: 0 4px 16px #dcdfe580;
}
