@use "@/styles" as *;

.navigation {
    color: $color-black-1;
    background-color: $color-white-1;
    border-bottom-color: $color-white-5;
    border-bottom-width: $length-1;
}

.container {
    @include container($breakpoint: $breakpoint-2);
    @include row($align: center, $justify: space-between);
    padding: $length-24 $length-32;
}

.title {
    text-align: center;
    font-size: $font-size-3;
    font-weight: $font-weight-bold;
}
