@use "@/styles" as *;

.container {
    @include column($justify: start, $align: stretch, $gap: $length-16);
}

.description {
    font-size: $font-size-2;
    color: $color-black-4;
}

.progress {
    overflow: hidden;
    height: $length-4;
    border-radius: $length-4 / 2;
    background-color: $color-white-5;
}

.bar {
    @include transition;
    height: 100%;
    background-color: $color-blue-1;
}
